*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav
{
    background: #38761d;
}
.menu
{
    text-align: right;
}
.menu li
{
    color: #333333;
    padding: 0 15px;
    padding-bottom: 15px;
    display: inline-block;
    list-style: none;
    text-align: right
}
.logo
{
    color: #000000;
    text-align: left;
}
.iniciarSesion
{
    padding: 3px;
    border: 0;
    background: #134f5c;
    color: white;
}
.infoPagina
{
    position: fixed;
    width: 50%;
    height: 100%;
    color:#666666;
    font-size: 24px;
    text-align: center
}
.infoPagina ul li
{
    padding: 50px;
}
#icono
{
    color: #009e0f;
}
section
{
    position: relative;
    width: 50%;
    float: right;
}
.TEColones
{
    TEColones:#000000;
}