@CHARSET "ISO-8859-1";


*
{
   
    font-family: 'Roboto', sans-serif;
    
}

.footer {
	
	overflow: hidden;
  	background-color: #38761d;
  	position: fixed;
  	padding-top: 3%;
  	bottom: 0;
  	right: 1px;
  	width: 100%;
	
}

.sidenav {
    height: 80.5%; /* Full-height: remove this if you want "auto" height */
    width: 18%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 9.8%; /* Stay at the top */
    left: 0;
    background-color: #134f5c; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 5% 1% 5% 1%;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    width: 80%;
    text-align: center;
    border-style: groove;
    margin: 15% 0 10% 4%;
    background-color: #20124d;
}

.sidenav a:hover {
    color: #ddd;
}

.navbar {
    
    background-color: #38761d;
    position: fixed; /* Set the navbar to fixed position */
    padding: 0.5%;
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
    width: 100%; /* Full width */
    z-index: 999;
}

.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
} 

.inline{
	
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: right;
}

.dropbtn2 {
    background-image: url( 'IMAG/IconoAyud.png' );
    background-color: #38761d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn {
    background-image: url( 'IMAG/IconoUsuario.png' );
    background-color: #38761d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
   margin: 0 10px 0 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    left: 80%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #134f5c;
    right: 5%;
    min-width: 160px;
    box-shadow: 8px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style:groove;
    border-color: white;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 12px;
    border-style:groove;
    border-color: white;
    color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 
.dropdown:hover .dropbtn2 {background-color: #3e8e41;}


.info{
	
	text-align: left;
	position: absolute;
	top: 15%;
	left: 35%;
    width: 30%;
}

.info2{
	
	text-align: left;
	position: absolute;
	top: 15%;
	left: 70%;
    width: 30%;
}

p.t{
	
	color: #333333;
	white-space: pre-wrap;
	font-size: 16px;
	margin: 1.5% 0%;
	font-weight: bold;
}

p.pt{
	
	color: #666666;
	font-size:15px;
	white-space: pre-wrap;
	margin: 4% 1%;
	
}

.Boton{
	
	padding: 10px 20px;
    background-color:  #134f5c;
  	border: 1px solid #ddd;
  	color: white;
  	margin: 0 5% 0 0
}

.botones{
	
	text-align: left;
	position: absolute;
	top: 85%;
	left: 45.5%;
	width: 50%;
}
h4
{
    font-size: 16px;
    font-weight: bold;
}
.CajaAdm
{
    background: #eeeeee;
    text-align: center;
    padding: 0%;
    align-content: center;
    width: 60%;
    padding: 1%;
}

#icono
{
    color: #134f5c;
}
.btnDes
{
    padding: 10px 20px;
    background: #333333;
    border: 1px solid #ddd;
    color: white;
    margin: 0 5% 0 0

}